__pycache__/
.vscode/

*.pyc
.DS_Store

.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
.idea/

.venv/
.env/
env/
venv/
.python-version
pyproject.toml

# LaTeX rác
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc

